@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);


body{
  /*font-family: 'Century Gothic', Calibri, serif;*/
  font-family: 'Helvetica', Calibri, serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
footer{
  height: 30px;
  text-align: center;
  background-color: #C5C5C5;
  border-top: 2px solid #AAA;
  padding-bottom: 10px;
}
nav{
  width: 100%;
  background-color: #FFFF;
}
nav ul{
  margin: 0px;
  padding: 0px;
}
nav li{
  list-style-type: none;
  float: left;
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #000000;
  text-transform: uppercase;
  font-size: 15px;
}
.table{
  display: table;
  margin: 0 auto;
}
nav a:hover{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-ind{
  border-top: 5px solid #000000;
}
.menu-comp:hover{
  border-top: 5px solid #000000;
}
.menu-exp:hover{
  border-top: 5px solid #000000;
}
.menu-hob:hover{
  border-top: 5px solid #000000;
}
.menu-con:hover{
  border-top: 5px solid #000000;
}
nav li:hover a{
  padding: 15px 30px 20px 30px;
}
.fab{
  font-size: 20px;
}
.fab:hover{
  font-size: 24px;
  border-top: 5px solid black;
}

/*..............................*/


.accueil{
  background-size: cover;
  width: 100%;
  height: 920px;
  font-weight: lighter;
}

.accueil1{
  width: 100%;
  min-height: 300Px;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  text-align: center;
  border-top: 5px solid black;
}
.accueil1 img{
  border: solid 10px white;
  border-radius: 50%;
  margin-top: 90px;
  margin-right: 166px;
}
.prenom h1{
  color: white;
  text-align: left;
  font-size: 50px;
}
.prenom h2{
  color: white;
  text-align: left;
  font-size: 25px;
}

.citation{
  color: black;
  margin-top: 50px;
  font-family: 'Century Gothic', Calibri, serif;
  text-align: center;
  font-size: 18px;
}
.bouton{
 margin-left: 742px;
 margin-top: 245px;
}
.btn-ghost {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 30px;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
  background-image: url("images/fondoscille.jpg");
}
