@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);


body{
  /*font-family: 'Century Gothic', Calibri, serif;*/
  font-family: 'Helvetica', Calibri, serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
footer{
  height: 30px;
  text-align: center;
  background-color: #C5C5C5;
  border-top: 2px solid #AAA;
  padding-bottom: 10px;
}
nav{
  width: 100%;
  background-color: #FFFF;
}
nav ul{
  margin: 0px;
  padding: 0px;
}
nav li{
  list-style-type: none;
  float: left;
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #000000;
  text-transform: uppercase;
  font-size: 15px;
}
.table{
  display: table;
  margin: 0 auto;
}
nav a:hover{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-ind:hover{
  border-top: 5px solid #000000;
}
.menu-comp{
  border-top: 5px solid #000000;
}
.menu-exp:hover{
  border-top: 5px solid #000000;
}
.menu-hob:hover{
  border-top: 5px solid #000000;
}
.menu-con:hover{
  border-top: 5px solid #000000;
}
nav li:hover a{
  padding: 15px 30px 20px 30px;
}
.fab{
  font-size: 20px;
}
.fab:hover{
  font-size: 24px;
  border-top: 5px solid black;
}
/*......................................*/
.skills{
  width: 100%;
  min-height: 100Px;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.skillsalign1{
  justify-content: center;
  align-self: center;
  padding-right: 50px;
}
h3{
  font-size: 25px;
}
.skillsalign1 img{
  max-width: 16px;
}
.skills2{
  width: 100%;
  min-height: 100Px;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}
.softskills{
  width: 100%;
  min-height: 90Px;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.softskills h3{
  color: white;
}
.monparcours1{
  background-size: cover;
  width: 100%;
  height: 850px;
  font-weight: lighter;
  margin-bottom: 0px;
  border-top: 5px solid black;
}
.monparcours1 h1{
  margin-top: 0px;
  padding-top: 20px;
}
