@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);



body{
  /*font-family: 'Century Gothic', Calibri, serif;*/
  font-family: 'Helvetica', Calibri, serif;
  font-size: 13px;
  margin: 0px;
  padding: 0px;
}
h1{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
footer{
  height: 30px;
  text-align: center;
  background-color: #C5C5C5;
  border-top: 2px solid #AAA;
  padding-bottom: 10px;
}
nav{
  width: 100%;
  background-color: white;
}
nav ul{
  margin: 0px;
  padding: 0px;
}
nav li{
  list-style-type: none;
  float: left;
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}
.table{
  display: table;
  margin: 0 auto;
}
nav a:hover{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}
.menu-ind:hover{
  border-top: 5px solid black;
}
.menu-comp:hover{
  border-top: 5px solid #000000;
}
.menu-exp{
  border-top: 5px solid black;
}
.menu-hob:hover{
  border-top: 5px solid black;
}
.menu-con:hover{
  border-top: 5px solid black;
}
nav li:hover a{
  padding: 15px 30px 20px 30px;
}
.fab{
  font-size: 20px;
}
.fab:hover{
  font-size: 24px;
  border-top: 5px solid black;
}

/*...............................*/


.monparcours{
  background-size: cover;
  width: 100%;
  height: 800px;
  font-weight: lighter;
  border-top: 5px solid black;
  margin-bottom: 0px;
}
.parcours1{
 text-align: center;
 padding-top: 100px;
}
.parcours1 p{
  color: black;
  font-size: 23px;
}
.avatarwagon {
  width: 90px;
  border-radius: 50%;
}
.parcours2{
  display: flex;
  justify-content: space-around;
  padding-left: 500px;
  padding-right: 500px;
  text-align: center;
  padding-top: 100px;
}
.parcours2 h3{
  color: black;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.monparcours2{
  background-size: cover;
  width: 100%;
  height: 800px;
  font-weight: lighter;
  border-top: 5px solid black;
  margin-bottom: 0px;
}
.autresexpe{
  display: flex;
  justify-content: space-around;
}
.titre{
  text-align: center;
}
.titre  h3{
  margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.card-product {
  overflow: hidden;
  height: 120px;
  width: 300px;
  margin-top: 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media screen and (max-width: 1142px) {
  .parcours2 {
    padding-top: 0px;
  }
  .monparcours{
    height: 900px;
  }
}
@media screen and (max-width: 1061px) {
  .card-product {
    width: 250px;
  }
}
@media screen and (max-width: 1020px) {
  .parcours2{
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 780px) {
  .monparcours2{
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .parcours1 p{
    color: black;
    font-size: 15px;
  }
}
